@import './constants.scss';

body {
  font-family: 'Poppins', sans-serif;
  font-size: $font-md;
  margin: 0;
  color: $black;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

.shadow {
  -webkit-box-shadow: 0px 0 $size-md $size-xs rgba($gray, 0.5);
  -moz-box-shadow: 0px 0 $size-md $size-xs rgba($gray, 0.5);
  box-shadow: 0px 0 $size-md $size-xs rgba($gray, 0.5);
}

html {
  background-color: $background-gray;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;

  #main-container {
    padding-top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #main-cube {
      .cube-container {
        transform: scale(1);
        transition: ease-in-out all $transition-extra-slow $transition-mid;

        .cube-face {
          cursor: pointer;
          @extend .shadow;
          border-radius: $size-lg;

          > * {
            padding: $size-xl;

            h2 {
              margin: 0;
            }
          }
        }
      }

      .cube-container.initial-transition {
        .cube {
          transition: ease-in-out all $transition-extra-slow $transition-mid;
        }
      }
    }
    #main-cube.hidden-cube {
      .cube-container {
        transform: scale(0) rotateZ(270deg);

        .cube {
          transform: rotateY(360deg) !important;
        }
      }
    }
  }
}
