@import '../../styles/constants.scss';

nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  height: 60px;
  padding: 0 $size-lg;

  .expand-btn {
    display: none;
  }

  .navbar-content {
    max-width: $screen-xl;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-title {
      font-size: $font-title;
      font-weight: bold;
      color: $white;
    }

    .navbar-subtitle {
      font-size: $font-lg;
      font-weight: 300;
      font-style: italic;

      span {
        color: $primary-lighter;
      }
    }

    .navbar-btns {
      .navbar-btn {
        border-bottom: 2px solid transparent;
        border-radius: 0;
        height: 100%;
        height: 60px;
      }
      .navbar-btn:hover {
        background-color: $primary-light;
      }
      .navbar-btn.navbar-btn-selected {
        border-bottom-color: $white;
        background-color: $primary-lighter;
      }
    }
  }
}

@media screen and (max-width: $screen-lg) {
  nav.navbar {
    // .expand-btn {
    //   display: block;
    //   position: fixed;
    //   top: 0;
    //   left: 0;
    //   height: 60px;
    //   width: 60px;
    // }
    .navbar-content {
      justify-content: center;
      flex-direction: column;

      .navbar-title {
        font-size: $font-xl;
      }

      .navbar-subtitle {
        font-size: $font-sm;

        span {
          font-size: $font-md;
        }
      }

      .navbar-btns {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;

        .custom-btn {
          max-height: 0;
          padding: 0;
          border: 0;
          opacity: 0;
          pointer-events: none;
          transition: ease-in-out all $transition-mid;
        }
      }

      .navbar-btns.expanded {
        border-top: 1px solid $white;

        .custom-btn {
          max-height: $size-xl;
          padding: inherit;
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }
}
