@import '../../styles/constants.scss';

.cube-container .cube .cube-face .cube-section,
.cube-section {
  margin: 0;
  padding: $size-xl;
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  background-color: $black;
  color: $white;
  cursor: pointer;
  border-radius: $size-lg;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;

  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;

    h2 {
      margin: 0;
      text-transform: uppercase;
      padding-bottom: $size-md;
      border-bottom: 1px solid $primary;
      width: 100%;
    }
  }

  .see-more-btn {
    height: 20%;
    width: 100%;
    align-self: center;
    border-radius: 0;
  }
}
.cube-section-full {
  background-color: $black;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  transition: linear all $transition-extra-slow;
  border-radius: 0;
  overflow: auto;

  > div {
    max-width: $screen-xl;
    overflow: visible;

    .close-btn {
      position: absolute;
      right: $size-lg;
      top: $size-lg;
      background-color: transparent;
    }
  }
}

@media screen and (max-width: $screen-xl) {
  .cube-container .cube .cube-face .cube-section,
  .cube-section {
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    padding: $size-lg;
  }
}
